[Unit]
Description=Tilt Hydrometer reporter
After=multi-user.target

[Service]
Type=idle
User=edman007
ExecStart=/usr/bin/python3 /home/edman007/tilt-hydrometer/pytilt/pytilt.py > /home/edman007/tilt-hydrometer/pytilt.log 2>&1
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target